body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.heading {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.prodContainer img {
  height: 230px;
  width: 230px;
  min-width: 230px;
  object-fit: contain;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 16px;
}
.prodContainer {
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  box-shadow: 14px -1px 42px -5px rgba(0, 0, 0, 0.28);
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  background-color: #ecd1e8;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.2s all;
}

.prodContainer:hover {
  text-decoration: none;
  color: black;
  transform: scale(1.05, 1.05);
}

.details {
  margin-left: 15px;
}
.details > div {
  margin-top: 10px;
}
.searchContainer {
  display: flex;
  justify-content: center;
}
.searchInput {
  width: 100px;
}

.loader {
  border: 12px solid #ecd1e8;
  border-radius: 50%;
  border-top: 12px solid #e51ec8;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
.brandsWrapper {
  display: none;
  margin-top: 10px;
  flex-wrap: wrap;
}
.productTypesWrapper {
  display: none;
  margin-top: 10px;
  flex-wrap: wrap;
}
.brandAndProds {
  background-color: #ecd1e8;
  border: 0;
  padding: 5px 7px;
  border-radius: 8px;
  width: fit-content;
  margin-right: 8px;
  margin-top: 12px;
  cursor: pointer;
}
.availabilities {
  cursor: pointer;
  border: 0;
  color: blue;
  background-color: transparent !important;
  margin-top: 10px;
}
.availabilitiesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.availabilities :focus {
  background-color: transparent !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinnerWrapper {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
#noItems {
  display: none;
  text-align: center;
  font-size: 2rem;
  margin-top: 60px;
}
.waves-effect {
  background-color: #e51ec8 !important;
  width: auto;
  margin-top: 0px;
  margin-top: 20px;
  /* //margin-right: 20px; */
}
.brandName {
  text-transform: capitalize;
}
.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .heading {
    font-size: 18px;
  }
  .prodContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .prodContainer > img {
    width: 100%;
  }
  .container {
    margin: auto;
  }
  .details {
    margin-left: 5px;
    margin-top: 10px;
  }
  body {
    font-size: 0.8rem;
  }
  .details > div {
    margin-top: 5px;
  }
  .buttonsWrapper {
    flex-direction: column;
    width: auto;
  }
}
